* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poiret One", sans-serif;
  text-align: center;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  width: 100%;
  max-width: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.timer {
  margin: 30px;
  padding: 10px;
  border-bottom: 1px solid black;
}
.thead {
  font-size: 30px;
}
#thead {
  border: 2px solid black;
}
.time {
  font-size: 70px;
}
.display {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 35px;
}
.button {
  display: flex;
}
button {
  padding: 10px;
  margin: 20px;
  font-size: 20px;
  border: none;
  outline: none;
  cursor: pointer;
}
button:hover {
  background-color: rgb(214, 214, 214);
}
